/*General Webpage Elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: sans-serif;
  color: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hide {
  display: none !important;
}

.selected {
  color: #fff;
  background-color: #000;
}

/*INDEX.HTML PAGE*/
#index-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/tons-of-open-page-books.webp);
  background-position: 100% 100%;
  background-size: 100%;
}

/*Header Section*/
.website-hero-name {
  text-align: center;
  font-size: 7rem;
  margin-top: 1.5rem;
}

#logo-link:link,
#logo-link:visited {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.5rem;
  color: #fff;
}
#logo-link:hover,
#logo-link:active {
  color: #ddd;
}

#letter-x {
  font-family: "Monoton", sans-serif;
}

/*Main Section*/
main {
  flex: 1 0 auto;
}

#welcome-container {
  display: flex;
  justify-content: center;
  margin: 15rem 0rem 0rem 0rem;
}

#game-container {
  text-align: center;
  margin: 3rem 0rem 0rem 0rem;
}

#results-container {
  text-align: center;
  margin: 10rem 4rem 0rem 4rem;
}

/*Welcome container elements*/
#play-btn {
  font-size: 5rem;
  font-weight: 900;
  padding: 5rem 7rem;
  border-radius: 5rem;
  border: 1.2rem solid #fff;
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
  background-color: transparent;
}
#play-btn:hover {
  color: #fff;
  border: inset 0rem;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #f8770f 20%, #e63010 80%);
}

/*Game container elements*/
#round-container {
  position: relative;
}

h3 {
  font-size: 2rem;
  padding: 1.5rem 1.5rem;
  border-radius: 0rem 2rem 2rem 0rem;
  line-height: 1.3;
  background-color: #000;
  color: #fff;

  position: absolute;
  left: 0rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#round-number {
  color: #fff;
  padding: 0rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  background-color: #e63010;
  font-size: 3rem;
}

#question {
  display: block;
  margin: 0rem 2rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
}

#answers-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 4rem 2rem;
  height: 8rem;
}

.answers-sub-container {
  height: 12rem;
  align-self: center;
  border-radius: 3rem;
  border: 1rem solid #000;
  transition: all 0.3s;
  font-size: 4rem;
  font-weight: 600;
  cursor: pointer;
}

#next-round-btn {
  position: relative;
  top: 17rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

/*Results container elements*/
#encouragement-title {
  margin-top: 2.5rem;
  font-size: 4.5rem;
  font-weight: normal;
  color: #fff;
}

#score-text {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

#correct-answer {
  color: #e63010;
}

#restart-quiz {
  margin: 6rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border: 0.7rem solid #fff;
  text-decoration: none;
  border-radius: 5rem;
  padding: 2.5rem 4.5rem;
  transition: all 0.3s;
}

#restart-quiz:hover {
  color: #fff;
  cursor: pointer;
  border: inset 0rem;
  background-image: linear-gradient(to bottom right, #f8770f 20%, #e63010 80%);
}

/*Footer Section*/
footer {
  background-color: #edeaed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
#copyright-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 50px 50px;
}

/*Media Queries*/
@media screen and (max-width: 3840px) {
  #index-body {
    background-size: cover;
  }
}

/* @media screen and (max-width: 2560px) { */
/*Constant Elements*/
/* .website-hero-name {
    font-size: 18rem;
  }

  footer {
    height: 6rem;
  }

  #copyright-text {
    font-size: 3rem;
  }
 */
/*Welcome Container*/
/* #play-btn {
    font-size: 15rem;
    border: 2rem solid #fff;
  }
 */
/*Game Container*/
/* h3 {
    font-size: 4rem;
    bottom: 5rem;
  }

  #round-number {
    font-size: 5rem;
  }

  #question {
    font-size: 5rem;
  }

  .answers-sub-container {
    height: 15rem;
    border-radius: 3rem;
    border: 1.5rem solid #000;
    font-size: 5rem;
  }

  #next-round-btn {
    top: 23rem;
    font-size: 4rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
  }
 */
/*Results Container*/
/* #encouragement-title {
    font-size: 8rem;
  }

  #score-text {
    font-size: 10rem;
  }

  #restart-quiz {
    margin: 10rem 0rem;
    font-size: 10rem;
    padding: 4rem 5rem;
    border: 1.5rem solid #fff;
  }
} */

@media screen and (max-width: 1250px) {
  /*Constant Elements*/
  .website-hero-name {
    font-size: 15rem;
  }

  footer {
    height: 5rem;
  }

  #copyright-text {
    font-size: 2.5rem;
  }

  /*Welcome Container*/
  #welcome-container {
    margin: 20rem 0rem;
  }

  #play-btn {
    font-size: 10rem;
    border: 1.2rem solid #fff;
  }

  /*Game Container*/
  #game-container {
    margin: 5rem 0rem 27rem 0rem;
  }

  h3 {
    font-size: 3rem;

    bottom: 4rem;
  }

  #round-number {
    font-size: 4rem;
  }

  #question {
    font-size: 4rem;
  }

  .answers-sub-container {
    height: 13rem;
    border-radius: 3rem;
    border: 1.3rem solid #000;
    font-size: 4rem;
  }

  #next-round-btn {
    top: 19rem;
    font-size: 3.5rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
  }

  /*Results Container*/
  #results-container {
    margin: 10rem 4rem 7rem 4rem;
  }

  #encouragement-title {
    font-size: 5rem;
  }

  #score-text {
    font-size: 6rem;
  }

  #restart-quiz {
    margin: 10rem 0rem;
    font-size: 7rem;
  }
}

@media screen and (max-width: 850px) {
  /*Constant Elements*/
  .website-hero-name {
    font-size: 12rem;
  }

  /*Welcome Container*/
  #play-btn {
    font-size: 7rem;
    border: 1.2rem solid #fff;
  }

  /*Game Container*/
  #game-container {
    margin: 0rem 0rem 8rem 0rem;
  }

  #round-container {
    margin-bottom: 2rem;
    display: inline-block;
  }

  h3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    position: relative;
    bottom: 0rem;
    border-radius: 1.5rem;
    padding: 0.7rem 1rem;
    font-size: 3rem;
  }

  #round-number {
    font-size: 3.5rem;
    padding: 0rem 1.5rem;
  }

  #question {
    font-size: 3rem;
    margin: 3rem 2rem 0rem 2rem;
  }

  #answers-main-container {
    display: flex;
    flex-direction: column;
    column-gap: 0rem;
    row-gap: 1rem;
    margin: 3rem 2rem 2rem 2rem;
    height: auto;
  }

  .answers-sub-container {
    padding: 1.5rem 1rem;
    width: 90%;
    font-size: 3.5rem;
    height: 11rem;
  }

  #next-round-btn {
    font-size: 2.5rem;
    top: 0rem;
  }

  /*Results Container*/
  #results-container {
    margin: 7rem 4rem 5rem 4rem;
  }

  #encouragement-title {
    font-size: 4rem;
  }

  #score-text {
    font-size: 5rem;
  }

  #restart-quiz {
    margin: 7rem 0rem;
    font-size: 5rem;
    padding: 3rem 4rem;
    border: 1rem solid #fff;
  }
}

@media screen and (max-width: 650px) {
  /*Constant Elements*/
  .website-hero-name {
    font-size: 7rem;
  }

  #copyright-text {
    font-size: 2rem;
  }

  /*Welcome Container*/
  #welcome-container {
    margin: 15rem 0rem;
  }

  #play-btn {
    font-size: 6rem;
    padding: 2rem 3rem;
    border-radius: 3rem;
    border: 0.6rem solid #fff;
  }

  /*Game Container*/
  #game-container {
    margin: 0rem 0rem 6rem 0rem;
  }

  h3 {
    font-size: 2rem;
  }

  #round-number {
    font-size: 2.5rem;
  }

  #question {
    font-size: 2rem;
    margin: 4rem 1rem 0rem 1rem;
  }

  .answers-sub-container {
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
    border: 0.7rem solid #000;

    height: 9rem;
  }

  #next-round-btn {
    font-size: 2rem;
  }

  /*Results Container*/
  #results-container {
    margin: 7rem 2rem 5rem 2rem;
  }

  #encouragement-title {
    font-size: 2.5rem;
  }

  #score-text {
    font-size: 3rem;
  }

  #restart-quiz {
    margin: 7rem 0rem;
    font-size: 4rem;
    padding: 2rem 3rem;
    border-radius: 3rem;
  }
}

@media screen and (max-width: 430px) {
  /*Constant Elements*/
  .website-hero-name {
    font-size: 5rem;
  }

  footer {
    height: 4rem;
  }

  #copyright-text {
    font-size: 1.5rem;
  }

  /*Welcome Container*/
  #welcome-container {
    margin: 10rem 0rem;
  }

  #play-btn {
    font-size: 3rem;
    padding: 2rem 3rem;
    border-radius: 2rem;
    border: 0.6rem solid #fff;
  }

  /*Game Container*/
  h3 {
    font-size: 1.5rem;
  }

  #round-number {
    font-size: 2rem;
  }

  #question {
    font-size: 1.5rem;
    margin: 3rem 1rem 0rem 1rem;
  }

  #answers-main-container {
    margin: 2rem 1rem 2rem 1rem;
  }

  .answers-sub-container {
    padding: 1.5rem 1rem;
    font-size: 2rem;
    border: 0.7rem solid #000;

    height: 7rem;
  }

  #next-round-btn {
    font-size: 1.7rem;
    top: 1rem;
  }

  /*Results Container*/
  #encouragement-title {
    font-size: 1.5rem;
  }

  #score-text {
    font-size: 2rem;
  }

  #restart-quiz {
    margin: 5rem 0rem;
    font-size: 3rem;
    padding: 1.5rem 2rem;
    border: 0.7rem solid #fff;
  }
}
