/*General Webpage Elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: sans-serif;
  color: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/images/tons-of-open-page-books.webp);
  background-position: 100% 90%;
  background-size: 100%;
}

/*INDEX.HTML PAGE*/
/*Header Section*/
#website-hero-name {
  text-align: center;
  margin-top: 200px;
  font-size: 2000%;
}

#logo-link:link,
#logo-link:visited {
  text-decoration: none;
  color: inherit;
  letter-spacing: 20px;
}

#letter-x {
  font-family: "Monoton", sans-serif;
  color: inherit;
  background-color: transparent;
}

#letter-t {
  color: #fff;
}
#letter-r {
  color: blue;
}
#letter-i {
  color: yellow;
}
#letter-v {
  color: greenyellow;
}
#letter-i-two {
  color: red;
}
#letter-a {
  color: pink;
}
/**Navigation**/
.nav-ul-list {
  display: flex;
  justify-content: space-between;

  margin: 50px 50px 0px 50px;
  list-style-type: none;
}

#quiz-link:link,
#quiz-link:visited,
#contact-us:link,
#contact-us:visited {
  font-size: 400%;
  font-weight: 600;
  margin: 20px 30px;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s;
}

#quiz-link:hover,
#quiz-link:active,
#contact-us:hover,
#contact-us:active {
  border-bottom: 8px solid #d7d7d7;
}

/*Main Section*/
main {
  flex: 1 0 auto;
}

#play-btn-container {
  position: relative;
  top: 200px;
  height: 500px;
  text-align: center;
}
#play-btn:link,
#play-btn:visited {
  font-size: 1000%;
  font-weight: 900;
  padding: 80px 120px;
  border-radius: 50px;
  color: inherit;
  border: 10px solid #fff;
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
}
#play-btn:hover,
#play-btn:active {
  color: #fff;
  border: inset 0px red;
  background-image: linear-gradient(to bottom right, #f8770f 20%, #e63010 80%);
}

/*Footer Section*/
footer {
  background-color: #edeaed;
  height: 150px;
}
#copyright-text {
  font-size: 300%;
  font-weight: 400;
  margin: 50px 50px;
  text-align: center;
}

/*ROUNDONE.HTML*/
#roundone-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/images/flag-of-thailand.webp);
  background-position: 90% 70%;
  background-size: 150%;
}
/*Header Section*/
.website-name {
  text-align: center;
  font-size: 1300%;
}

/*Main Section*/
.number-and-question {
  margin-top: 50px;
}

.question {
  display: block;
  margin-top: 50px;
  text-align: center;
  font-size: 600%;
  font-weight: 600;
  color: #fff;
}
.round {
  display: block;
  text-align: center;
  font-size: 500%;
  font-weight: 700;
  color: #fff;
}

#answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  column-gap: 100px;
  margin: 80px 700px 0 700px;
  height: 800px;
}

#answers-container-1,
#answers-container-2,
#answers-container-3,
#answers-container-4 {
  display: grid;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

#answers-container-1:hover,
#answers-container-2:hover,
#answers-container-3:hover,
#answers-container-4:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: 15px solid #fff;
}

.answer-title {
  font-size: 600%;
  font-weight: 600;
  align-self: center;
  justify-self: center;
}

#next-question {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#next-question-link:link,
#next-question-link:visited {
  font-size: 400%;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border: 10px solid #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 30px;
}

#next-question-link:hover,
#next-question-link:active {
  color: #fff;
  border: inset 0px red;
  background-image: linear-gradient(to bottom right, #f8770f 20%, #e63010 80%);
}

/*Footer Section*/

/*ROUNDTWO.HTML*/
#roundtwo-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/images/canadian-parliament.webp);
  background-position: 100% 30%;
  background-size: 120%;
}
/*Header Section*/

/*Main Section*/

/*FOR SCREEN WIDTHS BELOW 3px*/
/*MEDIA QUERIES FOR INDEX.HTML*/
@media screen (max-width: ) {
}
